{% extends "base.html" %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>

</head>

<body>
  <div id="content">
    {% block content %}
    <form class="form-inputs" action="new/" method="post" enctype="multipart/form-data">{% csrf_token %}
      <label id="upload_label" for="file-upload" class="file-upload-labels">Select your painting</label>
      <input id="file-upload" class="inputs" name="painting" type="file">
      <label id="submit_label" for="submit-button" class="file-upload-labels">Upload picture</label>ı
      <button id="submit-button" class="inputs" type="submit" name="upload">Upload picture</button>
    </form>
    {% load static %}
    <script src="{% static 'base.js' %}"></script>
    {% endblock %}
  </div>
</body>

</html>
